<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    @Model ToDoList.Models.Item

    <h4>Add a new task</h4>
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Description)
      @Html.TextBoxFor(model => model.Description)
      <input type="submit" value="Add new task" />
    }
    <p>@Html.ActionLink("Show all items", "Index")</p>
  </body>
</html>