<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    @using ToDoList.Models;

    <h1>Items</h1>

    <ul>
      @foreach(Item item in Model)
      {
        <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</li>
      }
    </ul>

    <p>@Html.ActionLink("Add new item", "Create")</p>
  </body>
</html>